<div class="search-form container mt-5">
    <h1>Form tìm kiếm</h1>
    <form class="border p-3" method="post" action="search">
        <div class="mb-3">
            <label for="searchInput" class="form-label">Tìm kiếm</label>
            <input type="text" class="form-control" name="search" id="searchInput" placeholder="Nhập để tìm kiếm">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>